.container
	h1 tony.ninja
	p  Lorem ipsum dolor sit amet, #[a(href="#") test] consectetur adipisicing elit. Consequuntur beatae impedit magni animi similique incidunt doloremque laboriosam molestiae consectetur, explicabo a, odio aliquid ratione. Vitae similique ipsum veniam voluptatibus, iusto!

	a.btn.btn-primary(href="#") button