
// Font families
font-heading         = 'Roboto Slab', serif
font-regular         = 'Lato', sans-serif;
font-bold            = 700

// Brand colors
brand-primary        = #2894dc
page-bg              = white
text-color           = #444
link-color           = brand-primary
link-hover-color     = darken(brand-primary,15%)
border-default       = #ddd

// Screen breakpoints
screen-xs            = 480px
screen-sm            = 768px
screen-md            = 991px
screen-lg            = 1200px

// Footer styles
footer-height        = 100px
footer-top-margin    = 40px
footer-bg            = #333
footer-color         = rgba(white,0.5)
footer-vert-padding  = 20px

// Spacing 
gap-xs               = 5px
gap-sm               = 10px
gap                  = 20px
gap-md               = 30px
gap-lg               = 50px